/*! @import */
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-dotted {
    text-decoration: underline dotted;
}

.full-bleed-grid {
    @apply grid grid-cols-full-bleed min-h-screen;
    grid-template-rows:
        max-content
        1fr
        max-content;
    column-gap: 32px;
}

.full-bleed-grid > * {
    grid-column: 2;
}

.full-bleed {
    @apply col-span-full md:col-start-2 md:col-end-3;
    width: 100%;
}

@layer base {
    :root {
        --bg-main: 209, 225, 237;
        --primary-color: 0, 153, 255;
        --primary-end-color: 0, 117, 255;
        --action-color: 0, 172, 131;
        --action-end-color: 0, 168, 97;
        --white: 255, 255, 255;
    }
    h1 {
        font-size: clamp(2rem, 9vw, 2.25rem);
        font-family: 'Biryani', sans-serif;
    }
}